:root{
  --background-color-white: #fff;
  --background-color-red: #f00;
  --background-color-button: #FF9F43;
  --background-color-main: #FAFBFE;
  --gray-color: #BDBDBD;
  --paragraph-color: #4F4F4F;
  --border-color: #b9b9b9;
  --padding-small: 8px;
  --padding-medium: 16px;
  --padding-large: 32px;
  --padding-xlarge: 64px;
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 16px;
  --font-geist-sans: Georgia, 'Times New Roman', Times, serif;
  --font-geist-mono: 'Courier New', Courier, monospace;
}

html{
  box-sizing: border-box;
};

*, *::before, *::after{
  box-sizing: inherit;
};

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

body{
  font-family: var(--font-geist-sans), sans-serif;
}

.my-swal-popup {
  z-index: 9999; 
}